<!-- Create Group Css Starts here -->
.create_group_container{ width:100%; margin-top:10px; float:left; }
.myform{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#454444;
width:100%;
padding:0;
}

.spacer{clear:both; height:1px;}

/* ----------- creategroup ----------- */
.payment{
}

.payment h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.payment p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
.payment label{
display:block;
margin-top:3px;
color:#454444;
height:26px; line-height:26px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-align:left; padding-right:10px;
width:160px;
float:left;
clear:left;
}


.input_txt{
	clear:right;
font-size:12px;
padding:4px 2px;
border:solid 1px #bebebe;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#454444;
height:18px;
width:400px;
margin:2px 0 5px 0;
float:left;
}

.input_txt2{
	clear:right;
font-size:12px;
padding:4px 2px;
border:solid 1px #bebebe;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#454444;
height:18px;
width:400px;
margin:2px 0 5px 0;
float:left;
}

.input_txt2{
font-size:12px;
padding:4px 2px;
border:solid 1px #bebebe;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
height:18px;
width:400px;
margin:2px 0 5px 0;
float:left;
clear:right;
}

.small{
	clear:right;
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #bebebe;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#454444;
height:18px;
width:177px;
margin:2px 0 5px 0;
}

.drop_txt{
	clear:right;
float:left;
border:solid 1px #bebebe; height:26px; line-height:26px; width:408px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#454444; padding:4px 2px;
margin:2px 0 5px 0;
}

.drop_txt_small{
	clear:right;
float:left;
border:solid 1px #bebebe; height:26px; line-height:26px; width:110px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#454444; padding:4px 2px;
margin:2px 0 5px 0;
}

.payment radio {
float:left;
width:50px;
height:18px;
margin:0 0 5px 0;

}

.payment textarea{
clear:right;
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #bebebe;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#454444;
height:18px;
width:400px;
height:130px;
margin:2px 0 5px 0;
}

.error_label{ margin-left:10px; display:block; float:left; width:400px; padding:4px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#F00; height:18px; line-height:22px;}

.txt_normal{margin-left:10px; margin-right:10px; display:block; float:left; width:10px; padding:4px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333; height:18px; line-height:22px;}

.error_txt_red{margin-left:40px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#F00;}